#out {
	height:200%;
	background-color:powderblue;
	padding: 1%;
	padding-bottom:10%;
	margin:0%;
	}
	#in {
		background-color: black;
		margin-top:10%;
		padding: 10% 15%;
		}
#inp{
	font-size:150%;
	color: white;
	alignment:centrer;
	text-align:center;
	}
#b{
		background-color:green;
		margin:0%;
		padding : 5%;
		padding-bottom: 8%;
		text-align:center;
		}
p
		{
			font-size:200%;
			}
			button{
				border :none;
				border-radius:5%;
				text-align:centre;
				width:50%;
				padding : 5%;
				margin: 3%;
				font-size:100%;
		
				}
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				.